<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @food.fat %>
</p>

<p>
  <strong>Carbs:</strong>
  <%= @food.carbs %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @food.protein %>
</p>

<p>
  <strong>User:</strong>
  <%= @food.user %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @food.favorite %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', user_foods_path(@food.user) %>
